unstructured # Document loading
unstructured[all-docs]
chromadb # Vector storage
openai # For embeddings and LLM
tiktoken  # For embeddings
langchain_core
langchain_openai
langchain_community
streamlit
utils