unstructured # Document loading
unstructured[all-docs]
chromadb # Vector storage
openai # For embeddings and LLM
tiktoken  # For embeddings
langchain
langchain-core
langchain_openai
langchain-community
streamlit
utils
torch