3.1.1 Sell Configured to Ordered Products.
3.1.1.1 The system shall display all the products that can be configured.
3.1.1.2 The system shall allow user to select the product to configure.
3.1.1.3 The system shall display all the available components of the product to configure
3.1.1.4 The system shall enable user to add one or more component to the configuration.
3.1.1.5 The system shall notify the user about any conflict in the current configuration.
3.1.1.6 The system shall allow user to update the configuration to resolve conflict in the current configuration.
3.1.1.7 The system shall allow user to confirm the completion of current configuration
3.1.2 Provide comprehensive product details.
3.1.2.1 The system shall display detailed information of the selected products.
3.1.2.2 The system shall provide browsing options to see product details.
3.1.3 Detailed product Categorizations
The system shall display detailed product categorization to the user.
3.1.4 Provide Search facility.
The system shall enable user to enter the search text on the screen.